html{
    height: 100vh;
}
body {
    min-height: 100%;
}
.card{
    cursor: pointer;
    height: 100%;
}
.card:hover{
    box-shadow: 0px 0.5px 10px 0.01px rgba(0, 0, 0, 0.5) !important;
    transition: all 0.5s ease;
}
.card img {
    max-width: 400px;
}
.sucursal {
    font-family: 'Basic', sans-serif;
    font-size: 20px;
}
.about-bg{
    background-image: url(Imagenes/about-us.jpg);
    background-position: center;
    color: azure;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
#navbarNav{
    justify-content: space-between;
}
.nav-buttons{
    padding: 0;
    position: relative;
    margin: 0;
}

.login{
    margin: 50px;
}
.sign-up-page .card{
    cursor: default;
}
.sign-up-page .btn, .login .btn{
    width: 100%;
}


/* contacto */
.iconoredes {
    width: 30px;
    height: 30px;
    margin: 0px;
    padding-right: 5px;
}

li {
    list-style: none;
}


.contacto {
    font-family: 'Basic', sans-serif;
    font-size: 20px;
}

.redes {
    display: flex;
    align-items: center;
    margin: 8px 2px;
    border: "1px solid red"
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}